<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">My signups</li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Committee, Shift #</th>
      <th>Signed up at</th>
    </tr>
  </thead>
  <tbody>
    <% unless @signups.blank? %>
      <% @signups.each do |signup| %>
        <tr>
          <td>
            <%= link_to signup.shift.committee.name, signup.shift.committee %>, 
            Shift #<%= signup.shift.position %>
          </td>
          <td><%= signup.created_at %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">
          You haven&rsquo;t signed up for anything yet.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
